/* Footer Base */
.footer {
  background-color: #181A22;
  color: #fff;
}

.footer-logo {
  height: 60px;
  filter:brightness(3) ;
}

.footer-text {
  font-size: 15px;
  line-height: 1.6;
  margin-top: 10px;
}

/* Links Section */
.footer-line {
  width: 60px;
  height: 2px;
  background-color: #7c4dff;
  margin: 8px 0 16px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}



/* App Store Buttons */
.store-btn {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 13px;
  transition: background 0.3s ease;
  width: 200px;
}

.store-btn:hover {
  background-color: #333;
}

.footericons {
  height: 25px;
  width: 25px;
  filter: invert(1);
}

/* Footer Bottom */
.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.fs{
  font-size: 15px;
}
/* Social Icons */
.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  transition: color 0.3s ease, transform 0.3s ease;
}


.lucide-icon svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .store-btn {
    justify-content: center;
  }
.social-icons{
  display: flex;
  justify-self: center;
  align-items: center;
}
.flex-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
}
