
.section {
  scroll-margin-top: 100px; /* adjust to your navbar height */
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  font-weight: bold !important;
}

.text-content h1 {
  font-size: 50px !important;
  line-height: 56px;
  color: rgb(24, 26, 34);
}

span {
  color: #1f8e4b;
}

p {
  font-size: 16px;
  color: #4e4e4e;
}

input {
  border-radius: 20px;
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
}

.primary-btn {
  background-color: #1f8e4b !important;
  border-radius: 50px !important;
  color: white !important;
  padding: 12px 20px !important;
}

.banner-right {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.play-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
}

.play-button-bg {
  background-color: white;
  border-radius: 50%;
  width: 100px; /* adjust background size */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.play-icon {
  color: #1f8e4b;
  font-size: 50px; /* adjust icon size */
  margin-left: 3px; /* optional: center triangle better */
}

.checked-icon {
  height: 20px;
  width: 20px;
}

.background {
  padding: 30px !important;
  border-radius: 20px;
}

.background h1 {
  color: white !important;
}

.icon {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 20px;
}

.icon2 {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img {
  height: 60px;
  width: 60px;
}

.color-white {
  color: white;
}

.custom-para {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 43px;
  font-weight: bold;

  color: black !important;
}

.secondary-btn {
  background-color: #1f8e4b !important;
  color: white !important;
  border-radius: 20px !important;
  padding: 5px 30px !important;
}

.background-color {
  background-color: #181a22 !important;
  padding: 50px;
  border-radius: 30px;
}
.smallicon {
  height: 30px;
  width: 30px;
}
.step-item {
  display: flex;
  align-items: center;
}

.step-circle {
  width: 50px;
  height: 50px;
  border: 1px dashed #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-weight: bold;
  background-color: #16181d; /* Dark background like your image */
}

.step-line {
  flex-grow: 1;
  height: 1px;
  border-top: 1px dashed #ccc;
  margin: 0 10px;
}
.main-heading {
  font-weight: bold !important;
}
.dot {
  width: 12px;
  height: 12px;
  margin: 0 10px; /* left and right spacing */
}

.marquee-container {
  overflow: hidden;
  transform: skewY(-2deg);
  white-space: nowrap;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black; /* optional */
}

.marquee-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 25s linear infinite;
}

.marquee-content {
  display: flex;
  gap: 60px;
  padding-right: 60px;
}

.marquee-content span {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  font-weight: bold;
  color: white !important;
}

.image-size{
  height: 600px !important;
  border-radius: 100px !important;
  width: 270px !important;
  
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.subparagraph {
  color: #1f8e4b;
}
.watch-live-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.watch-live-btn button {
  padding: 15px 30px;
  font-size: 1.25rem;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  color: white;
  background: linear-gradient(120deg, #0fb57f 30%, #0fb57f 50%, 70%);
  background-size: 200% 100%;
  position: relative;
  overflow: hidden;
  border: none;
}
body.modal-open .watch-live-btn {
  transform: translateX(calc(-50% - 7.5px));
}

.watch-live-btn button:hover {
  transform: scale(1.05);
  background-position: -100% 0;
  animation: shimmer 1.2s linear forwards;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.form-color::placeholder {
  color: black !important;
  opacity: 1;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .primary-btn {
    padding: 10px 18px !important;
  }
  .form-color {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .banner-right {
    width: 100%;
  }
  

}
@media (max-width: 576px) {
  .watch-live-btn button {
  padding: 10px 30px;
  font-size: 1rem !important;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  color: white;
  background: linear-gradient(120deg, #0fb57f 30%, #0fb57f 50%, 70%);
  background-size: 200% 100%;
  position: relative;
  overflow: hidden;
  border: none;
}
  .text {
    font-size: 12px;
  }
  .start-btn {
    width: 100%;
    margin: 0px !important; /* button full width */
  }
  .form-color {
    width: 100%; /* input full width */
  }
  .checked-icon {
    width: 18px; /* keep icons small */
  }

  .background-color {
    padding: 50px;
  }
  .secondary-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin: 0 auto !important;
  }

  .color-white {
    text-align: center;
  }
  .icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin: 0 auto !important;
  }
  .watch-live-btn button {
    font-size: 1rem !important;
    padding: 10px 20px;
  }
}
@media (max-width: 400px) {
  .form-color {
    width: 45% !important;
  }
}
