h1 {
  font-size: 50px;
  line-height: 60px;
  color: rgb(24, 26, 34) !important;
}
span {
  color: #1f8e4b;
}
input {
  border-radius: 20px;
  padding: 10px;
  width: 60%;
}
.primary-btn {
  background-color: #1f8e4b;
  border-radius: 20px;
  color: white !important;
  padding: 10px;
}
.image-wrapper {
  background-color: #157347 !important;
  height: 400px !important;
  width: 400px;
  /* position: relative !important; */
}
.banner-right {
  height: 300px;
  margin: 40px;
}
.background{
    background-color: #181A22;
}
