.login-container {
  display: flex;
  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */
 height: 100vh !important;       /* remove scroll */
}

.login-box {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
}


.loginpage-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
form input::placeholder{
  color: gray !important;
}