.navbar-brand-image{
    height: 50px
}
.nav-item .nav-link{
    font-family: Manrope, sans-serif;
font-size: 16px !important;
font-weight: 600 ;
line-height: 27.2px;
color: rgb(27, 122, 65);
}
.nav-link{
    margin: 15px;
}
.navbar-btn{
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}