.navbar{
  height: 100px;
}
.navbar-brand-image {
  height: 80px;
}
.nav-item .nav-link {
  font-family: Manrope, sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 27.2px;
  color: rgb(27, 122, 65);
}
.nav-link {
  margin: 10px;
   position: relative;
}

.navbar-btn {
  border-radius: 20px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 20px ;
}
.navbar-underline {
  position: fixed;
  top: 82px;
  left: 0;
  padding: 0 !important;
  margin: 0px !important;
  width: 100%;
  height: 1px;
  background-color: gray;

}


.nav-link::after {
  content: '';              
  position: absolute;
  height: 2px;
  width: 0%;                
  background-color: #1F8E4B;
 
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;              /* Animate to full width */
  opacity: 1;

}
.nav-item .nav-link:hover{
  color: #1F8E4B !important;
}
@media (min-width: 577px) and (max-width: 767px) {
  .nav-link {
    margin: 4px;
  }
}
@media (max-width: 576px) {
  .nav-link {
    margin: 4px;
  }
  #navbarSupportedContent {
    padding-top: 30px; 
  }
}
