.preloader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181a22 !important;
  animation: fadeIn 0.5s ease-in;
}

.preloader-logo {
  height: 120px;
  width: auto;
  animation: pulse 1.5s infinite ease-in-out;
}

/* Smooth fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Subtle breathing effect on the logo */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 576px) {
  .preloader-logo {
    height: 70px;
  }
}
