.signup-container {
  height: 100vh !important;

}

.signup-left {
  background-color: black !important;
}
.position {
  margin-right: 80px !important;

  height: 700px !important;
  width: 700px !important;
}
.signup-right {
background: #181A22 !important;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical center */
  overflow: hidden;
  /* Prevent scrollbar */
}

.signup-right .card {
  max-height: 100vh; /* Prevent card overflow */
  width: 100% !important;
  overflow-y: auto;
  border-radius: 20px !important;
}

.logo-size {
  object-fit: cover !important;
}
.card {
  border-radius: 12px;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #2F76DD !important; /* optional: green border to match theme */
  background-color: white !important; /* ensures no blue bg appears */
}
.nav-pills .nav-link {
  border-radius: 30px;
  font-weight: 500;
  padding: 10px 20px;
  color: #2F76DD !important; /* Always green text */
  background: transparent;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

/* Hover & Focus */
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus,
.nav-pills .nav-link:active {
  color: #2F76DD !important; /* Stay green */
  background: rgba(31, 142, 75, 0.1); /* light green bg */
  text-decoration: none !important; /* remove underline */
  outline: none !important;
  box-shadow: none !important;
}

/* Active (selected tab) */
.nav-pills .nav-link.active {
  color: #fff !important; /* white text */
  background-color: #2F76DD !important; /* green bg */
  text-decoration: none !important;
}

@media (min-width: 1024px) and (max-width: 1299px) {
  .position {
    margin-right: 50px !important;
  }
}
@media (min-width: 375px) and (max-width: 576px) {
  .position {
    height: 500px !important;
    width: 500px !important;
    margin-right: 30px !important;
  }
}
